.nav-heading {
  background-image: linear-gradient(to right, #7928ca, #ff0080);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.sun-icon,
.moon-icon {
  font-size: 1.5rem;
}
.social-media-icons {
  font-size: 1.5rem;
}
.social-media-icons:hover {
  color: rgba(66, 153, 225, 0.6);
}
.woman-image {
  width: 500px;
}
